@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2rem 6rem;
    background: #f3f3f3;
}
.main-content{
    max-width: 1500px;
    min-width: 430px;
    margin: auto;
}
.navbar-container{
    height: auto;
    min-height: 70px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.navbar-container .logo-container{
    height: 100%;
    width: 25%;
    z-index: 2;
    background-color: rgb(32, 32, 32);
}
.navbar-container .logo-container a{
    text-decoration: none;
}
.navbar-container .logo-container h1{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(255, 225, 93);
}
.navbar-container .nav-links{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}
.nav-links ul{
    width: 100%;

}
.navbar-container .nav-links li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-container .nav-links a{
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
}
.nav-links a:hover{
    color: rgb(255, 225, 93);
}
.navbar-container .burguer-menu{
    position: absolute;
    right: 5%;
    display: none;
    cursor: pointer;
    z-index: 2;
}
.navbar-container .burguer-menu div{
    height: 6px;
    width: 30px;
    margin: 5px 0;
    border-radius: 10px;
    transition: all 0.8s;
}
.burguer-menu  .line-top{
    background-color: rgb(255, 248, 220);
}
.burguer-menu  .line-mid{
    background-color: rgb(252, 252, 252);
}
.burguer-menu  .line-bottom{
    background-color: rgb(255, 225, 93);
}
.hero-container{
    min-height: 990px;
    max-height: 990px;
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
}
.hero-container .hero-information-container{
    grid-column: 1/9;
    grid-row: 1/9;
    background-color: rgb(255, 255, 255);
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    border: 3px solid #252525;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}
.hero-information-container .hero-information{
    padding: 0 2rem;
}
.hero-information-container .information h1{
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 0, 0);  
}
.hero-information-container .information{
    grid-column: span 1;
    grid-row: span 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hero-information-container .information p{
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: justify;
    color: rgb(58, 58, 58); 
}
.hero-information-container .information button{
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    color: rgb(58, 58, 58); 
    border: 2px solid #252525;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    cursor: pointer;
    padding: 2rem 4rem;
    transition: 0.8s;
}
.hero-information-container .information button:hover{
    background-color: rgb(255, 225, 93);
}
.hero-information-container .media{
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.media .media-icon-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.media .media-icon-holder i{
    font-size: 3.5rem;
    cursor: pointer;
}
.hero-container .hero-cards-container{
    grid-column: 9/15;
    grid-row: 1/9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.hero-cards-container .hero-card{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgb(255, 248, 220);
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    border: 3px solid #252525;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hero-cards-container .hero-card h3{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    color: rgb(0, 0, 0);  
    position: absolute;
    transition: transform 1s;
}
.hero-card img{
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: -120%;
    transition: 0.7s;
}
.hero-card.hover img{
    bottom: -10%;
}
.hero-card.hover h3{
    transform: translateX(200%);
}
.offers-card.hover h3{
    transform: translateX(150%);
}
.general-information-container{
    min-height: 300px;
    max-height: 300px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}
.general-information-container .icon-container{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.general-information-container .icon-container i{
    font-size: 5rem;
    color: rgb(255, 225, 93); 
}
.general-information-container .paragraph-container{
    grid-column: span 1;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
    color: rgb(255, 255, 255); 
    text-align: center;
}
.services-container{
    min-height: 650px;
    max-height: 650px;
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}
.services-container .service-card{
    grid-column: span 1;
    grid-row: span 1;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    border: 3px solid #252525;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    transition: 1s;
}
.service-card i{
    font-size: 5rem;
    color: rgb(255, 255, 255); 
}
.service-card h4{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: rgb(0, 0, 0); 
}
.service-card p{
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: rgb(58, 58, 58); 
}
.service-card button{
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: rgb(58, 58, 58); 
    border: 2px solid #252525;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    cursor: pointer;
    padding: 1rem 2rem;
}
.products-container{
    min-height: 1350px;
    max-height: 1350px;
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.products-container .product-card{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 1rem 1rem 0 1rem;
    gap: 0.5rem;
    overflow: hidden;
}
.product-card .product-image-container{
    grid-column: span 1;
    grid-row: 1 / 5;
    border: 3px solid rgb(252, 252, 252);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.product-image-container img{
    height: 350px;
    width: 350px;
}
.product-image-container .product-button{
    background-color: rgb(255, 225, 93);
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: rgb(32, 32, 32);
    position: absolute;
    top: -100%;
    transition: 0.6s;
    cursor: pointer;
}
.product-image-container:hover .product-button{
    top: 65%;
}
.product-card .product-name-container{
    grid-column: span 1;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-card .product-name-container p{
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: rgb(224, 224, 224);
}
.product-card .product-price-container{
    grid-column: span 1;
    grid-row: 6 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 3px solid rgb(224, 224, 224);
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.product-card .product-price-container p{
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    color: rgb(252, 252, 252);
}
.families-container{
    min-height: 430px;
    max-height: 430px;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}
.families-container .family-card{
    height: 430px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    border: 3px solid #252525;
    border-radius: 10px;
    margin: 0 1rem;
    overflow: hidden;
}
.family-card img{
    height: 100%;
    width: 100%;
}
footer{
    height: 30vh;
    min-height: 450px;
    max-height: 450px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
}
.footer-information-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 1rem;
}
.footer-logo-container{
    grid-column: 1/4;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo-container h2{
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(255, 225, 93);
    text-align: center;
}
.footer-contact-information{
    text-align: center;
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    border-top: none;
    border-right: 3px solid rgb(58, 58, 58);
    border-bottom: none;
    border-left: none;
    padding: 1rem;
}
.footer-contact-information h5{
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 800;
    color: rgb(255, 248, 220);
}
.footer-contact-information a{
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-products-information{
    text-align: center;
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: none;
    border-right: 3px solid rgb(58, 58, 58);
    border-bottom: none;
    border-left: none;
    padding: 1rem;
}
.footer-products-information h5{
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 800;
    color: rgb(255, 248, 220);
}
.footer-products-information a{
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-pets-information{
    text-align: center;
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    padding: 1rem;
}
.footer-pets-information h5{
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 800;
    color: rgb(255, 248, 220);
}
.footer-pets-information a{
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-rights-container{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-rights-container p{
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(231, 231, 231);
    text-align: center;
}
@media screen and (max-width: 1400px){
    .products-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .product-image-container img{
        height: 250px;
        width: 250px;
    }
}
@media screen and (max-width: 1300px){
    .navbar-container .logo-container {
        width: 40%;
    }
    .navbar-container .nav-links {
        width: 60%;
    }
    .hero-container .hero-information-container{
        grid-column: 1 / 15;
        grid-row: 1 / 7;
    }
    .hero-container .hero-cards-container{
        grid-column: 1 / 15;
        grid-row: 7 / 9;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .hero-cards-container .hero-card h3 {
        font-size: 3rem;
    }
    .hero-card img{
        height: 300px;
        width: 300px;
    }
    .hero-card.hover img{
        bottom: -15%;
    }
    .services-container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .services-container .pet-card{
        gap: 0.5rem;
        grid-column: 1/4;
        grid-row: 1/4;
    }
    .services-container .educational-card{
        gap: 0.5rem;
        grid-column: 1/4;
        grid-row: 4/7;
    }
    .services-container .veterinary-card{
        grid-column: 4/6;
        grid-row: 1/7;
    }
}
@media screen and (max-width: 1050px){
    .navbar-container{
        padding: 2rem 0;
    }
    .navbar-container .burguer-menu{
        display: block;
    }
    .navbar-container .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .navbar-container .nav-links{
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 10px;
        background-color: rgb(32, 32, 32);
        padding: 0 2rem;
        transition: transform 0.8s, border-radius 1s, opacity 0.5s;
        
    }
    .hero-cards-container .hero-card h3 {
        font-size: 2.5rem;
    }
    .services-container{
        min-height: 1050px;
        max-height: 1050px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .services-container .pet-card{
        grid-column: span 1;
        grid-row: span 1;
    }
    .services-container .educational-card{
        grid-column: span 1;
        grid-row: span 1;
    }
    .services-container .veterinary-card{
        gap: 0.5rem;
        grid-column: span 1;
        grid-row: span 1;
    }
    .footer-information-container {
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    }
    .footer-contact-information {
        grid-row: span 3
    }
    .footer-products-information {
        grid-row: span 3
    }
    .footer-pets-information {
        grid-row: span 3
    }
    .footer-rights-container {
        grid-column: 1 / 4;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 950px){
    .products-container{
        min-height: 2350px;
        max-height: 2350px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }
    .products-container .product-card {
        grid-column: span 1;
        grid-row: span 2;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem;
    }
    .product-card .product-image-container {
        grid-column: span 4;
        grid-row: span 2;
    }

    .product-card .product-name-container {
        grid-column: 5 / 7;
        grid-row: span 1;
    }
    .product-card .product-price-container {
        grid-column: 5 / 7;
        grid-row: span 1;
    }
}
@media screen and (max-width: 900px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    footer {
        height: 30vh;
        min-height: 650px;
        max-height: 650px;
        width: 100%;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
        margin-top: 2rem;
        padding: 1rem 2rem;
    }
    .footer-information-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 2fr);
    }
    .footer-logo-container{
        grid-column: span 1;
        grid-row: span 1;
    }
    .footer-contact-information {
        grid-column: span 1;
        grid-row: span 3;
        border-top: none;
        border-right: none;
        border-bottom: 3px solid rgb(58, 58, 58);
        border-left: none;
    }
    .footer-products-information {
        grid-column: span 1;
        grid-row: span 3;
        border-top: none;
        border-right: none;
        border-bottom: 3px solid rgb(58, 58, 58);
        border-left: none;
    }
    .footer-pets-information {
        grid-column: span 1;
        grid-row: span 3;
        border-top: none;
        border-right: none;
        border-bottom: 3px solid rgb(58, 58, 58);
        border-left: none;
    }
    .footer-rights-container {
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media screen and (max-width: 850px){
    .hero-container {
        min-height: 1500px;
        max-height: 1500px;
    }
    .hero-container .hero-information-container{
        min-height: 900px;
        max-height: 900px;
    }
    .hero-container .hero-cards-container{
        min-height: 600px;
        max-height: 600px;
    }
    .hero-container .hero-cards-container {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
    }
    .hero-cards-container .hero-card {
        grid-column: span 1;
        grid-row: span 2;
    }
    .hero-card img{
        height: 250px;
        width: 250px;
        position: absolute;
        bottom: -125%;
    }
    .hero-card.hover img{
        bottom: -20%;
    }
    .hero-card.hover h3{
        transform: translateX(300%);
    }
    .offers-card.hover h3{
        transform: translateX(120%);
    }
}
@media screen and (max-width: 750px){
    .hero-information-container .information p {
        font-size: 1.5rem;
    }
    .hero-information-container .information button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
    .hero-cards-container .hero-card {
        padding: 1rem;
    }
    .general-information-container .paragraph-container p{
        font-size: 1.3rem;
    }
    .products-container{
        min-height: 4550px;
        max-height: 4550px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, 1fr);
    }
    .products-container .product-card {
        grid-column: span 1;
        grid-row: span 1;
    }
    .product-card .product-image-container {
        grid-column: span 3;
        grid-row: span 2;
    }
    .product-card .product-name-container {
        grid-column: 4 / 7;
        grid-row: span 1;
    }
    .product-card .product-price-container {
        grid-column: 4 / 7;
        grid-row: span 1;
    }
}
@media screen and (max-width: 650px){
    body{
        padding: 1rem;
    }
    .navbar-container .nav-links a{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 490px){
    .main-content{
        max-width: 1500px;
        min-width: 360px;
        margin: auto;
    }
    body{
        padding: 0.5rem;
    }
    .general-information-container .paragraph-container p {
        font-size: 1rem;
    }
    .navbar-container .nav-links a{
        font-size: 1rem;
    }
    .hero-container {
        min-height: 1300px;
        max-height: 1300px;
    }
    .hero-container .hero-information-container{
        min-height: 700px;
        max-height: 700px;
    }
    .hero-container .hero-cards-container{
        min-height: 600px;
        max-height: 600px;
    }
    .hero-information-container .information h1 {
        font-size: 3rem;
    }
    .hero-information-container .information p {
        font-size: 1.3rem;
    }
    .hero-information-container .information button {
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }
    .hero-cards-container .hero-card {
        padding: 1rem;
    }
    .media .media-icon-holder i{
        font-size: 3rem;
    }
    .general-information-container .paragraph-container p{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 430px){
    .hero-information-container .information h1 {
        font-size: 2.5rem;
    }
    .hero-information-container .information p {
        font-size: 1.1rem;
    }
    .hero-information-container .information button {
        font-size: 1.1rem;
        padding: 1rem 1rem;
    }
    .hero-cards-container .hero-card h3 {
        font-size: 2rem;
    }
    .media .media-icon-holder i{
        font-size: 2.5rem;
    }
    .navbar-container .nav-links{
        padding: 0.5rem !important;
    }
    .services-container {
        min-height: 1250px;
        max-height: 1250px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .services-container .service-card {
        gap: 1.5rem;
    }
    .service-card i {
        font-size: 4rem;
    }
    .service-card h4 {
        font-family: Montserrat;
        font-size: 1.6rem;
        font-weight: 800;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .service-card p {
        font-size: 1rem;
    }
    .service-card button {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
    .products-container{
        min-height: 3550px;
        max-height: 3550px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, 1fr);
    }
    .families-container{
        min-height: 380px;
        max-height: 380px;
    }
    .families-container .family-card{
        height: 380px;
        min-width: 270px;
        max-width: 270px;
    }
    .family-card img{
        height: 100%;
        width: 100%;
    }
}
.toggle .line-top{
    transform: rotate(45deg) translate(3px, 12px);
}
.toggle .line-mid{
    display: none;
}
.toggle .line-bottom{
    transform: rotate(-45deg) translate(-5px, -6px);
}
.nav-active{
    transform: translateY(70%);
    border-radius: 0 0 10px 10px !important;
}